body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopwatch {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  padding: 30px;
  border-radius: 20%;

}

.timeformate {
  font-weight: bold;
  font-size: xx-large;

}

.buttons {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  /* border-radius: 20%; */
  cursor: pointer;
  display: flex;
  gap: 20PX;
}

.startbtn {
  background-color: green;
  border-radius: 20px;
  min-width: 100px;
  color: white;
  font-weight: bold;
  font-size: larger;
  border: none;
  border: 1px solid black;
  cursor: pointer;
}

.stopbtn {
  background-color: red;
  border-radius: 20px;
  min-width: 100px;
  color: white;
  font-weight: bold;
  font-size: larger;
  border: none;
  border: 1px solid black;
  cursor: pointer;
}

.resetbtn {
  background-color: blue;
  border-radius: 20px;
  min-width: 100px;
  color: white;
  font-weight: bold;
  font-size: larger;
  border: none;
  border: 1px solid black;
  cursor: pointer;
}

@media (max-width:660px) {
  .timeformate {
    font-size: 1.2 rem;
  }

  .stopwatch {
    padding: 15px;
    width: 90%;
    border-radius: 15px;
  } 

  .buttons {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .startbtn,
  .stopbtn,
  .resetbtn {
    
    font-size: 1rem;
    padding: 10px;
  }
}